<ion-view view-title="About">

  <ion-content class="padding" ion-padding="40" >

      <ion-checkbox ng-model="filter.tumblr">Tumblr</ion-checkbox>
      <ion-checkbox ng-model="filter.instagram">Instagram</ion-checkbox>
      <ion-checkbox ng-model="filter.facebook">Facebook</ion-checkbox>

      <div class="card">
          <div class="item item-text-wrap">
              <p>{{author.firstname}} {{author.lastname}}</p>
              <p>{{author.email}}</p>
          </div>
      </div>
      <div class="card">
          <div class="item item-text-wrap">
            <p>You can get feeds from instagram or tumblr according to tag (dog, cat, city), just pull down in the top to refresh the page or scrolling down to get more feeds. Enjoy it!</p>
          </div>
      </div>
  </ion-content>
</ion-view>


