<ion-view view-title="Instagram">
    <ion-content>
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="feed in feeds" type="item-text-wrap" href="#/tab/instagram/{{feed.id}}" >
                <h2>{{feed.user.username}}</h2>
                <div ng-bind-html="feed.caption.text">
                </div>

                <img src="{{feed.images.low_resolution.url}}"  width="200px"/>
                <i class="icon ion-chevron-right icon-accessory"></i>

            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                icon="ion-loading-c"
                on-infinite="loadMoreData()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>