<ion-view view-title="Tumblr">
    <ion-content ng-controller="TumblrCtrl">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="feed in feeds" type="item-text-wrap" href="#/tab/tumblr/{{feed.post_url|escape}}" >
                <h2>{{feed.blog_name}}</h2>
                <div ng-bind-html="feed.caption">
                </div>
                <div ng-bind-html="feed.body">
                </div>

                <img src="{{feed.photos[0].original_size.url}}"  width="200px"/>
                <i class="icon ion-chevron-right icon-accessory"></i>

            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                icon="ion-loading-c"
                on-infinite="loadMoreData()">
        </ion-infinite-scroll>


    </ion-content>
</ion-view>