<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.facebook" ng-change="onChange()">
        Facebook
    </ion-toggle>
    <ion-toggle  ng-model="settings.tumblr" ng-change="onChange()">
        Tumblr
    </ion-toggle>
    <ion-toggle  ng-model="settings.instagram" ng-change="onChange()">
        Instagram
    </ion-toggle>
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Tags</span>
            <input type="text" placeholder="tag" name="tag" ng-model="settings.tag" ng-change="onChange()">
        </label>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
