<ion-view view-title="About">
  <ion-content class="padding" ion-padding="40" >
      <ion-slide-box pager-click="slideHasChanged($index)">
          <ion-slide>
              <div>1
      The views will be rendered in the irective below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).</div>
    </ion-slide>
          <ion-slide><div>2
      The views will be rendered in the directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).</div>
    </ion-slide>
      </ion-slide-box>
  </ion-content>
</ion-view>
